<html>
  <%- include ("./partials/header.ejs") %>
  <body>
    <h3>Loaned Books list</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Genre</th>
          <th scope="col">Borrow Date</th>
          <th scope="col">Return Buttons</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach(function(copy,i){%>
        <tr>
          <th scope="row"><%= i %></th>
          <td><a href="/book/<%=copy.book._id%>/"><%= copy.book.title %></a></td>
          <td><%= copy.book.author %></td>
          <td><%= copy.book.genre %></td>
          <td><%= copy.borrow_data %></td>
          <td>
            <form action="/delete" method="POST">
              <input type="submit" name="return_copy" value="return copy"/>
              <div type="submit" name="empty_div" value="">

              </div>
            </form>
            <!-- TODO: Create a Return book tag that is used for returning the book -->
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </body>
</html>
